# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Android
android/.gradle/

# iOS
ios/Pods/
ios/.symlinks/

# Logs
*.log

# Firebase / Secrets
.env
android/key.properties
android/app/*.jks
android/app/*.keystore
android/*.jks
android/*.keystore

# Local databases
*.isar
*.isar.lockandroid/key.properties
